body {
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    height: 100vh;
    align-items: center;
}

form {
    padding: 0 1em;
}

label {
    display: block;
    margin: 1.5em 0;
}

input {
    padding: 0.6em;
    margin-left: 1em;
    border-radius: 3px;
    border: 1px solid #333;
}

p {
    width: 350px;
    font-size: 19px;
    color: blue;
}